
{% extends 'base.html.twig' %}

{% block navbarLien %}
	<li><a class="navbar-lien" href="{{ path('app_app_accueil') }}">Accueil</a></li>
	<li><a class="navbar-lien" href="{{ path('app_app_evenement') }}">evenement</a></li>
	<li class="active" ><a class="navbar-lien" href="{{ path('app_app_creation') }}">creation</a></li>
{% endblock %}

{% block article %}

	<div class="formulaire-ajout">
		<h1>Formulaire d'ajout d'événement</h1>

		{{ form_start(form, {'attr' : {'class': 'form-horizontal'}} ) }}
		{{ form_errors(form) }}

		<div class="form-group">
			{{ form_label(form.title, "titre de l'événement :", {'label_attr' : {'class': 'col-xs-5 label-control'}}) }}
			<div class="col-xs-7">
				{{ form_widget(form.title, {'attr' : {'class': 'form-control'}} ) }}
			</div>
		</div>
		<div class="form-erreur">
			{{ form_errors(form.title) }}
		</div>

		<div class="form-group">
			{{ form_label(form.author, "Autheur :", {'label_attr' : {'class': 'col-xs-5 label-control'}}) }}
			<div class="col-xs-7">
				{{ form_widget(form.author, {'attr' : {'class': 'form-control'}} ) }}
			</div>
		</div>
		<div class="form-erreur">
			{{ form_errors(form.author) }}
		</div>

		<div class="form-group">
			{{ form_label(form.day, "Date de l'événement :", {'label_attr' : {'class': 'col-xs-5 label-control'}}) }}
			<div class="col-xs-7">
				{{ form_widget(form.day, {'attr' : {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="form-erreur">
			{{ form_errors(form.day) }}
		</div>

		<div class="form-group">
			{{ form_label(form.hour, "Heure de l'événement :", {'label_attr' : {'class': 'col-xs-5 label-control'}}) }}
			<div class="col-xs-7">
				{{ form_widget(form.hour, {'attr' : {'class': 'form-control'}} ) }}
			</div>
		</div>
		<div class="form-erreur">
			{{ form_errors(form.hour) }}
		</div>

		<div class="form-group">
			{{ form_label(form.file, "Image :", {'label_attr' : {'class': 'col-xs-5 label-control'}}) }}
			<div class="col-xs-7">
				{{ form_widget(form.file, {'attr' : {'class': 'form-control'}} ) }}
			</div>
		</div>
		<div class="form-erreur">
			{{ form_errors(form.file) }}
		</div>

		<div class="form-group">
			{{ form_label(form.content, "Contenu :") }}
			{{ form_widget(form.content) }}
		</div>
		<div class="form-erreur">
			{{ form_errors(form.content) }}
		</div>

		<button class="btn btn-default"><a href="{{ path('app_app_evenement') }}">Annuler</a></button>
		{{ form_widget(form.submit, {'attr' : {'class' : 'btn btn-success'}, 'label' : 'Valider'}) }}
		{{ form_rest(form) }}
		{{ form_end(form) }}

	</div>
	{{ tinymce_init() }}
{% endblock %}
